.myProjects {
  margin: 0;
  height: 98px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.myProjectsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.loremIpsumDolor {
  align-self: stretch;
  position: relative;
  font-size: var(--nav-bar-text-21-size);
  letter-spacing: 0.03em;
  color: var(--color-black);
  text-align: center;
}
.projectsHeader,
.projectsTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.projectsTitle {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-3xl);
}
.projectsHeader {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
}
.all {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 31px;
}
.allWrapper,
.viewAllButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.allWrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-100);
  border: 0.4px solid var(--color-dimgray);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-lgi);
}
.viewAllButton {
  flex-direction: column;
  padding: 0 var(--padding-8xs) 0 0;
}
.uiux {
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
  min-width: 69px;
}
.uiuxWrapper {
  border-radius: var(--br-xs);
  background-color: var(--color-whitesmoke-100);
  border: 0.4px solid var(--color-dimgray);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-lgi);
  z-index: 3;
}
.webDesign {
  position: relative;
  font-size: var(--sub-heading-24-size);
  letter-spacing: 0.03em;
  font-family: var(--nav-bar-text-21);
  color: var(--color-white);
  text-align: center;
}
.categoryPairOne {
  cursor: pointer;
  border: 0.4px solid var(--color-dimgray);
  padding: var(--padding-4xs) var(--padding-xl);
  background-color: var(--color-darkorange-100);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.categoryPairOne:hover,
.developmentCategories:hover {
  background-color: var(--color-orangered-100);
  border: 0.4px solid var(--color-gray-300);
  box-sizing: border-box;
}
.appDesign {
  height: 36px;
  position: relative;
  font-size: var(--sub-heading-24-size);
  letter-spacing: 0.03em;
  font-family: var(--nav-bar-text-21);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.developmentCategories {
  cursor: pointer;
  border: 0.4px solid var(--color-dimgray);
  padding: var(--padding-4xs) var(--padding-lgi);
  background-color: var(--color-whitesmoke-100);
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.developmentCategories:hover {
  background-color: var(--color-gainsboro-100);
}
.filterContainer {
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-mid);
  text-align: center;
  font-size: var(--sub-heading-24-size);
  color: var(--color-black);
}
.filterContainer,
.testimonial,
.testimonialWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.testimonial {
  width: 936px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-56xl);
}
.testimonialWrapper {
  width: 1404px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--h2-65-size);
  color: var(--bg-gray);
  font-family: var(--nav-bar-text-21);
}
@media screen and (max-width: 1350px) {
  .testimonial {
    gap: var(--gap-18xl);
  }
}
@media screen and (max-width: 925px) {
  .myProjects {
    font-size: var(--font-size-33xl);
  }
  .filterContainer {
    flex-wrap: wrap;
  }
  .testimonial {
    gap: var(--gap-lgi);
  }
}
@media screen and (max-width: 450px) {
  .myProjects {
    font-size: var(--font-size-20xl);
  }
  .loremIpsumDolor {
    font-size: var(--font-size-mid);
  }
  .all,
  .uiux {
    font-size: var(--sub-p-19-size);
  }
}
